body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: black;
}
.title {
  font-family: 'Acme', sans-serif;
  font-size:60px;
  color: #23bcea;
  margin-top: 70px;
  margin-bottom: 30px
}
.my-todos-title {
  font-size: 30px;
}
.h2-title {
  font-size: 30px;
  margin-left: 100px;
}
.icon-m-l {
  margin-left: 7px;
}
.title-row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.button-div {
  position: relative;
  bottom: -20px;
}
.login-form-container {
  background-color: white;
  height: 370px;
  width: 440px;
  margin: 0 auto;
  padding: 10px 36px;
  box-shadow: 1px 1px 4px 0px #888888;
}
.home_Container {
  height: auto;
  padding:0;
  margin-top: 50px;
}
.text-fields-container {
  margin: 0 auto;
  clear: both;
  width: 600px;
}
.save-button-row {
  float: right;
}
.login-text {
  text-align:left;
  font-weight:bolder;
  font-size: 22px;
}
.input-form {
  margin: 20px 0;
}
.login-btn {
  width:100px;
}
.bottom-link {
  text-decoration: none !important;
  color:#3097d1;
  cursor: pointer;
}
#navBrand {
  font-family: 'Acme', sans-serif;
  font-size:25px;
}
.help-block{
	float:left;
	margin-right: 8px;
}
.myBox{
  margin: 0 auto;
  height: 200px;
  width: 600px;
  border: 1px solid grey;
}
.label{
  margin-left: 40px;
  margin-top: 40px;
  font-size: 15px;
  font-weight: normal;
  color: black;
}
.labelRow{
  display: inline-grid;
}
.search_bar {
  width: 65%;
  margin: 20px auto;
}
.gif_input {
  width: 100%;
  padding: 5px
}
.gifs_container {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-gap: 30px;
  background-color: transparent;
  margin: 30px auto;
  width: 800px;
  padding: 0;
}
.gifs_wrapper {
  width: 100%;
}
.gif_image {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.gif_container{
  position: relative;
}
.gif_container:hover .gif_image{
  cursor: pointer;
  opacity: 0.7;
}
.starFilled {
  color: #ffb40f !important;
  opacity: 1 !important;
}
.star_empty {
  opacity: 0;
  color: #ffb40f
}
.star_overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.star_icon{
  position: relative;
  top: 12px;
  right: 95px;
  font-size: 20px;
  z-index: 1000;
}
.star_overlay:hover .star_empty{
  opacity:1;
}
.star_icon:hover {
  cursor: pointer;
}
.mygifs_title {
  font-size: 30px;
  color: white;
  font-weight: bold;
}
.no_gifs_text {
  font-size: 24px;
  font-weight: bold;
  color: #b2b2b2;
  position: relative;
  top: 120px;
}
